.contacts__feedback-fieldset {
  border-radius: 20px;
  color: #fff;
  height: 54px;
  width: 407px;
  border-color: rgba(242, 242, 242, 0.5);
}
/*
.contacts__feedback-fieldset {
  border-radius: 20px;
  color: #fff;
  height: 54px;
  width: 407px;
  border-color: rgba(242, 242, 242, 0.5);
} */
