.contacts__feedback-subtitle {
  color: #fff;
  font-size: 16px;
  line-height: 150%; /* 24px */
  margin-bottom: 50px;
  /* padding-left: 10px; */
}
/*
margin-bottom: 50px;
/* padding-left: 10px; */
