@font-face{font-display:swap;font-family:Roboto;font-weight:400;src:url(806e04d8241d87f99a68.woff2) format("woff2"),url(59d18e163bfcd0607572.woff) format("woff")}@font-face{font-display:swap;font-family:Roboto;font-weight:700;src:url(3f8e10eb65de9fbcc5cc.woff2) format("woff2"),url(eab3a566ce722e08e453.woff) format("woff")}
.header{align-items:center;display:flex;height:123px;margin:0 auto}@media screen and (max-width:320px){.header{max-width:375px}}
.header__frame{color:transparent;width:49px}@media screen and (max-width:768px){.header__frame{width:46px}}
@media screen and (max-width:768px){.header__frame_signal{display:none}}
@media screen and (max-width:768px){.header__frame_heart{display:none}}
.header__frames{align-items:center;color:#000;display:flex;font-size:18px;gap:30px;line-height:24.3px;list-style-type:none}@media screen and (max-width:768px){.header__frames{gap:15px;margin:0;padding:0}}
.header__link{color:#292d32;font-size:15px;line-height:normal;text-align:right;text-decoration:none;text-transform:uppercase}.header__link:hover{background-color:#292d32;color:#fff;opacity:65%;transition:1s}
.header__links{color:#000;display:flex;font-size:15px;gap:45px;line-height:normal;list-style-type:none;margin:auto 51px auto 0;text-decoration:none}@media screen and (max-width:768px){.header__links{align-items:flex-start;flex-direction:column;gap:45px;margin-left:38px;margin-top:56px;padding:0}}
.header__menu{align-items:center;display:flex;flex-direction:row-reverse;flex-grow:1;justify-content:space-between;margin-left:44px;margin-right:10px}@media screen and (max-width:768px){.header__menu{align-items:flex-start;flex-direction:row;justify-content:flex-end;margin-right:15px}}
.header__search{height:18.4px;margin:auto 8px;width:18.4px}@media screen and (max-width:768px){.header__search{margin:auto 31px auto 68px}}
.header__search-input{border:none;padding:3px}
.header__burger{background:#fff url(08035af1e508cd8cfed5.svg) 50%/46px no-repeat;border:none;cursor:pointer;display:none;height:46px;margin-left:auto;outline:none;padding:0;transition:opacity .2s linear;width:46px}@media screen and (max-width:768px){.header__burger{display:block;margin-left:15px;margin-top:0}}
@media screen and (max-width:768px){.header__popup{display:none}}
.header__popup_visible{background-color:rgba(0,0,0,.3);display:flex;min-height:100vh;position:fixed;position:absolute;right:0;top:119px;width:100%;z-index:3}
.header__overlay{align-items:center;background-color:#fff;box-sizing:border-box;display:flex;flex-direction:column;justify-content:space-between;margin-left:auto;width:100%}@media screen and (max-width:768px){.header__overlay{height:390px;padding:0}}
.header__list-container{display:flex;flex-direction:column}@media screen and (max-width:768px){.header__list-container{align-items:flex-start;gap:45px;padding:0;width:100%}}
.header__burger_close{background:transparent url(80dfd5bd01b8fe0a895e.svg) 50%/46px no-repeat;border:none;cursor:pointer;height:46px;margin-left:15px;outline:none;padding:0;transition:opacity .2s linear;width:46px}@media screen and (max-width:768px){.header__burger_close{display:flex}}
.cover{background-color:#f2f2f2;display:flex;padding:0 0 0 244px}
.cover__main{background-color:#f2f2f2;background-position:50%;background-repeat:no-repeat;background-size:cover;box-sizing:border-box;display:flex;justify-content:center;margin-bottom:157px;margin-left:85px;min-height:439px;position:relative;text-decoration:none;z-index:1}
.cover__contain{display:flex}
.cover__aside{background-color:#f9f9f9;position:relative;width:509px}
.cover__overlay{background-image:url(18c990e4fb93298e4b6b.png);height:201.6px;left:-124px;margin-left:0;margin-right:19px;margin-top:97px;padding:0;position:absolute;top:0;width:766.516px;z-index:-1}
.cover__overlay-img{background-image:url(e971e17c00ce8e0232b9.png);background-repeat:no-repeat;height:555px;margin-left:352px;margin-top:74px;padding-right:52px;width:557px;z-index:1}
.cover__overlay-subtext{color:#292d32;font-size:50px;line-height:normal;margin-left:133px;margin-top:0;width:446px}
.cover__overlay-text{color:#838383;font-size:18px;font-weight:300;line-height:133.687%;margin-left:147px;margin-top:156px;max-width:169px;text-shadow:0 4px 4px rgba(0,0,0,.25)}
.cover__overlay-point_bold{background-image:url(260a545c863be19fb983.svg);height:9px;width:9px}
.cover__overlay-point_normal{background-image:url(d2a134bc8cf52a480002.svg);height:5px;width:5px}
.cover__overlay-points{align-items:center;display:flex;gap:10px;list-style-type:none;position:absolute;right:529px;top:611px}
.cover__overlay-point{z-index:2}
.cover__scroll{align-items:center;display:flex;flex-direction:column-reverse;margin-bottom:141px;padding-left:4px}
.cover__scroll-img{height:38.5px;width:25px}
.cover__scroll-text{transform:rotate(180deg);writing-mode:vertical-lr}
.cover__aside-img{background-image:url(d89b69238e89276c0b4a.png);background-repeat:no-repeat;height:725px;position:absolute;width:100%;z-index:1}
.cover__aside-text{color:#292d32;font-size:25px;line-height:130%;margin-left:40px;margin-top:321px;text-shadow:0 4px 4px rgba(0,0,0,.25);width:181px}
.cover__aside-arrow{stroke-width:1.5px;background-image:url(ffffa3e2ec99ef43ff09.png);color:#292d32;height:21px;margin-left:25px;width:104.5px}
.cover__aside-arrow_transform{transform:scaleX(-1)}
.cards{grid-column-gap:59px;display:grid;grid-template-columns:repeat(3,422px);justify-content:center;padding:0;row-gap:40px}
.cards_advantages{-moz-column-gap:27px;column-gap:27px;grid-template-columns:repeat(4,330px);margin:27px 260px 48px 282px}
.cards_last-news{grid-column-gap:0;grid-template-columns:repeat(3,482px);margin-left:58px;margin-right:152px;row-gap:0}
.card__zero{background-color:transparent;height:311px;list-style-type:none;margin-left:0;margin-top:12px;width:388px}
.card__zero-title{color:#292d32;font-size:50px;line-height:50px;margin:0;text-align:left;width:388px}
.card__zero-subtitle{color:#838383;font-size:18px;font-weight:300;line-height:150%;margin-bottom:50px;margin-top:29px;text-align:left;width:372px}
.card{background-color:#f2f2f2;border-radius:20px;display:flex;flex-direction:column;justify-content:space-between;list-style-type:none;position:relative;width:100%;z-index:1}
.card__title{color:#292d32;font-size:25px;line-height:150%}
.card__subtitle{color:#838383;font-size:18px;font-weight:300;line-height:133.687%}
.card__content{display:flex;position:relative}
.card__content-img{margin-left:0}
.card__content-title{color:#292d32;font-size:25px;font-weight:100;left:28px;line-height:150%;position:absolute;top:50px}

.card_last-news{background-color:transparent;height:400px;list-style-type:none;width:600px}
.button{background-color:transparent;border:none;color:#000;font-size:24px;position:absolute;right:10px;top:65%;transform:translateY(-50%);z-index:2}
.button_prev-button{left:-1%}
.button_next-button{right:1%}
.button_next-button-cover{background-color:transparent;border:none;left:74%;position:absolute;top:65%;transform:translateY(-50%);z-index:2}
.button__blue{align-items:center;background-color:transparent;border:none;cursor:pointer;display:flex;gap:11px;height:55px;padding:0;width:55px}.button__blue:hover{opacity:65%;transition:1s}
.button__blue_disabled{background-color:initial;cursor:default;opacity:10%;pointer-events:none}
.button__blue_last-news{flex-direction:row-reverse}
.button-box{display:flex;margin-left:12px;margin-top:470px}
.button-box__text{color:#292d32;font-size:16px;line-height:30px;white-space:nowrap}
.button-box__text_contacts{color:#fff}
.button-box_catalog{margin:0}
.button-box_advantages{margin:0;padding:0}
.button-box_last-news{margin-left:627px;margin-top:58px;padding:0}
.advantages{background-color:#f2f2f2;display:flex;flex-direction:column;justify-content:space-between;margin-bottom:120px}
.advantages__overlay{background-image:url(ffd086082ed90973d5c7.png);background-repeat:no-repeat;height:346px;left:0;margin-top:164px;position:absolute;top:0;width:897px;z-index:1}
.advantages__discription{display:flex;position:relative}
.advantages__img{margin-left:182px;margin-top:87px;z-index:1}
.advantages__contain{display:flex;flex-direction:column;margin-left:-80px;margin-top:135px;z-index:1}
.advantages__title{color:#292d32;font-size:50px;line-height:50px;margin-bottom:0}
.advantages__subtitle{color:#838383;font-size:18px;line-height:150%;margin-bottom:40px;margin-top:36px;width:518px}
.catalog{margin-bottom:71px;margin-top:50px}
.last-news{margin-bottom:183px}
.last-news__contain{display:flex}
.last-news__title{color:#292d32;font-size:50px;line-height:normal;margin-bottom:25px}
.last-news__subtitle{color:#838383;font-size:18px;font-weight:300;line-height:150%;margin-top:0;width:721px}
.last-news__contain-discription{display:flex;flex-direction:column;margin:0 auto}
.contacts{background-color:#f2f2f2;display:flex;flex-direction:column;justify-content:space-between;margin-bottom:177px;margin-top:0;position:relative}
.contacts__contain{display:flex;justify-content:center;margin:0 auto;z-index:1}
.contacts__our-contacts{background:#f9f9f9;border-radius:20px 0 0 20px;width:700px}
.contacts__our-contacts-title{color:#292d32;font-size:50px;line-height:50px;margin-bottom:20px;margin-left:120px;margin-top:104px}
.contacts__our-contacts-subtitle{color:#838383;font-size:16px;line-height:150%;margin-left:120px}
.contacts__our-contacts-contain{display:flex;flex-direction:column;gap:30px;margin-left:83px;margin-top:29px;padding-bottom:45px}
.contacts__our-contacts-container{display:flex}
.contacts__our-contacts-container_call{margin-top:27px}
.contacts__our-contacts-container-img{height:38px;margin-top:16px;width:38px}
.contacts__our-contacts-container-discription{display:flex;flex-direction:column;margin-left:17px}
.contacts__our-contacts-container-title{color:#838383;font-size:18px;line-height:133.687%;margin-bottom:5px;margin-top:22px;padding:0}
.contacts__our-contacts-container-subtitle{color:#292d32;font-size:22px;line-height:150%;margin:0;width:358px}
.contacts__social{margin-left:124px}
.contacts__feedback{background:#292d32;border-radius:0 20px 20px 0;margin-left:22px;margin-right:0;margin-top:2px;width:700px;z-index:1}
.contacts__feedback-contain{margin:0 auto;max-width:442px}
.contacts__feedback-title{color:#fff;font-size:50px;line-height:50px;margin-bottom:0;padding-top:52px;width:442px}
.contacts__feedback-subtitle{color:#fff;font-size:16px;line-height:150%;margin-bottom:50px}
.contacts__feedback-form{display:flex;flex-direction:column;gap:36px;padding-bottom:105px}
.contacts__feedback-fieldset{border-color:hsla(0,0%,95%,.5);border-radius:20px;color:#fff;height:54px;width:407px}
.contacts__feedback-fieldset_commit{display:flex;flex-direction:column;height:145.25px;margin-bottom:20px}
.contacts__feedback-legend{color:#f2f2f2;font-size:18px;font-weight:300;line-height:133.687%;padding-left:9px;padding-right:11px;padding-top:5px}
.contacts__feedback-input{background:transparent;border:none;box-sizing:border-box;color:#fff;height:100%;padding:10px 0;width:100%}
.contacts__feedback-input_invalid{border-bottom:1px solid red}
.contacts__feedback-input_textarea{border-radius:8px;box-sizing:border-box;display:flex;height:100%;min-height:40px;overflow:hidden;padding:0 0 33px;resize:none}
.contacts__img{height:590px;left:40%;position:absolute;top:15%;width:294px;z-index:2}
.contacts__overlay-img{background-image:url(e26fa4c48a38c52e6c6f.png);background-repeat:no-repeat;height:471.818px;left:9px;position:absolute;top:540px;width:1635px;z-index:-1}
.footer{display:flex;flex-direction:column;justify-content:space-around;margin:0 auto 40px;position:relative}
.footer__menu{align-items:flex-start;display:flex;margin:0 auto 36px}
.footer__logo{height:112px;margin-right:152px;margin-top:89px;width:112px}
.footer__contacts{align-items:center;border-top:1px solid #e5e5e5;display:flex;justify-content:space-between;margin:0 auto;padding-top:33px;width:1400px}
.footer__contact{list-style-type:none;padding:0}
.footer__contact-title{color:#838383;font-size:16px;line-height:133.687%;margin-bottom:7px}
.footer__contact-subtitle{color:#292d32;font-size:18px;line-height:150%}
.footer__links{display:flex;flex-direction:column;gap:10px;list-style-type:none;margin-right:139px;margin-top:60px}
.footer__link{color:#292d32;font-size:16px;font-weight:300;line-height:normal}
.footer__link_title{font-size:25px;margin-bottom:5px}
.footer__social{height:37.712px;width:93.712px}
.footer__overlay{background-image:url(366717798910b4b8a495.png);background-repeat:no-repeat;height:173px;position:absolute;right:0;top:145px;width:515px;z-index:-1}
.popup{align-items:flex-start;background-color:rgba(63,63,63,.5);display:flex;height:100%;justify-content:center;left:0;opacity:.5;padding-left:521px;padding-top:122px;position:fixed;top:0;visibility:hidden;width:100%}@media screen and (max-width:768px){.popup{padding-top:123px}}
.popup__container{background:#fff;border-radius:10px;box-sizing:border-box;color:#000;display:flex;flex-direction:column;max-width:430px;padding:30px 30px 20px;position:relative;width:405px}@media screen and (max-width:768px){.popup__container{padding:24px 22px;width:282px}}
.popup_opened{opacity:1;transition:opacity 1s;visibility:visible;z-index:10}
.popup__links{flex-direction:column;gap:40px;padding:0}
.popup__form{display:flex;flex-direction:column}
.popup__link{color:#000;font-size:20px;font-weight:400;line-height:150%;text-transform:none}
.popup__title{align-items:center;color:#000;display:flex;font-size:20px;font-style:normal;font-weight:400;line-height:150%;margin:0;padding-bottom:59px}@media screen and (max-width:768px){.popup__title{font-size:18px;line-height:1.22;max-width:238px;padding-bottom:75px}}
.popup__error{color:red;display:block;font-size:12px;line-height:1.21;max-width:358px;min-height:30px;visibility:hidden}
.popup__error_visible{padding-top:13px;visibility:visible}
.slider{display:flex;transition:transform .5s ease-in-out}
.slider__container{height:auto;margin:0 auto;overflow:hidden;position:relative;width:100%}
.slider__section{box-shadow:0 10px 20px rgba(74,74,74,.3);height:100%;margin-bottom:50px;max-width:100%;padding-bottom:50px;transition:opacity .5s}.slider__section:first-child{display:block}

.body{font-family:Roboto,sans-serif;font-style:normal;font-weight:400;margin:0;max-width:1920px;min-width:375px;padding:0}.nav-links{bottom:34%;left:90%;position:absolute;transform:translateX(-50%);z-index:2}.nav-links ul{list-style:none;margin:0;padding:0;text-align:center}.nav-links ul li{background-color:#ccc;border-radius:50%;cursor:pointer;display:inline-block;height:10px;margin:0 1px;width:10px}.nav-links ul li:hover{background-color:#ff0}.nav-links ul li.active{background-color:#333;color:#fff;outline-width:7px}.nav-links ul li.active:hover{background-color:#484848;color:#fff}.cover .nav-links ul,section#cover{display:none}.logo{height:70px;margin-right:22px;width:70px}.card-img{height:376px;width:440px}
