.contacts__feedback-fieldset_commit {
  height: 145.25px;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}

/* .contacts__feedback-fieldset_commit {
  height: 145.25px;
  display: flex;
  margin-bottom: 20px;
} */
