.header__links {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  margin: auto 0;
  color: #000;
  font-size: 15px;
  line-height: normal;
  gap: 45px;
  /* margin-left: 60px; */
  margin-right: 51px;
}

@media screen and (max-width: 768px) {
  .header__links {
    align-items: flex-start;
    margin-left: 38px;
    margin-top: 56px;
    gap: 45px;
    padding: 0;
    /* align-items: center; */
    flex-direction: column;
  }
}
