.contacts__feedback-legend {
  padding-top: 5px;
  padding-left: 9px;
  padding-right: 11px;
  color: #f2f2f2;
  font-size: 18px;
  font-weight: 300;
  line-height: 133.687%;
}
/*
.contacts__feedback-legend {
  padding-top: 5px;
  padding-left: 9px;
  padding-right: 11px;
  color: #f2f2f2;
  font-size: 18px;
  font-weight: 300;
  line-height: 133.687%;
} */
